
    <form
      [formGroup]="registerer"
      id="formData"
      #userData="ngForm"
      (ngSubmit)="registerUser()">
      <label>
        <p class="label-txt">ENTER YOUR NAME</p>
        <input type="text" class="input" formControlName="Name" ngModel />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR EMAIL</p>
        <input type="email" class="input" formControlName="Email" ngModel />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR ADDRESS</p>
        <input type="text" class="input" formControlName="Address" ngModel />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <label>
        <p class="label-txt">ENTER YOUR GST NUMBER</p>
        <input type="text" class="input" formControlName="GST_no" ngModel />
        <div class="line-box">
          <div class="line"></div>
        </div>
      </label>
      <button type="submit">Verify</button>
    </form>